#contactBackground {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 110%;
	background-image: url(/avinash-kumar-soil-vertical-unsplash.jpg);
	background-size: cover;
	/* background-color: aqua; */
}

#contactContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	width: fit-content;
	padding: 3em;
	margin: 3em;
	background-color: rgba(239, 239, 240, 0.8);
}

#contactForm {
	display: flex;
	flex-direction: column;

	width: 100%;
	/* background-color: green; */
}

.input {
	display: flex;
	justify-content: space-between;
	margin: 1em;
	/* background-color: teal; */
}
.input > input {
	/* background-color: blueviolet; */
	min-width: 50px;
	max-width: 300px;
}

#contactButton {
	background-color: rebeccapurple;
	border-radius: 5px;
	color: whitesmoke;
	max-width: 5em;
	align-self: center;
}
