.content {
	display: flex;
	flex-direction: column;
	padding: 2em;
	align-items: center;
	width: 100%;
}

.landingCardSection {
	display: flex;
	flex-direction: row;
	padding: 0.5em;
	background-color: lavender;
}

.landingCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-items: center;
	background-color: whitesmoke;
	padding: 1em;
	margin: 1em;
	min-width: 30%;
}

.landingCard > h3 {
	margin-top: 1em;
	text-align: center;
	z-index: 1;
	font-family: 'Nanum Pen Script';
	font-size: x-large;
}
.imageWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	max-height: 40vh;
}

.cardTitles {
	text-transform: uppercase;
	font-weight: bolder;
	margin-top: 0.5em;
	text-align: center;
	z-index: 1;
}
