.content {
	display: flex;
	flex-direction: column;
	padding: 2em;
	align-items: center;
	width: 100%;
}

.landingCardSection {
	display: flex;
	flex-direction: row;
	padding: 0.5em;
	background-color: #6667ab;
}

.landingCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-items: center;
	background-color: whitesmoke;
	padding: 1em;
	margin: 1em;
	min-width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landingCard > h3 {
	margin-top: 1em;
	text-align: center;
	z-index: 1;
	font-family: 'Nanum Pen Script';
	font-size: x-large;
}
.imageWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	max-height: 40vh;
}

.cardTitles {
	text-transform: uppercase;
	font-weight: bolder;
	margin-top: 0.5em;
	text-align: center;
	z-index: 1;
}

.bulletPoints {
	display: flex;
	flex-direction: column;
	margin-top: 3em;
}

.point {
	margin: 0em;
	padding: 0em;
}

.point > h3 {
	font-size: 17pt;
	font-weight: 700;
	text-transform: uppercase;
	color: #6667ab;
	margin: 0;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.bulletPoints h3:first {
	margin-top: 0em;
	color: orange;
}
.point > p {
	margin: 0;
	margin-left: 1.25em;
}
