#supportContainer {
	flex-direction: column;
	padding: 2em;
}

/* Land */
#landSection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1em;
	margin-top: 2em;
}
#landExplainer {
	flex-direction: row-reverse;
	max-width: 50%;
	justify-content: space-around;
	margin-top: 2em;
}

/* Labor */
#laborSection {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	margin: 2em;
}
#laborExplainer {
	flex-direction: column;
	max-width: 50%;
}

/* Lastly, Money */
#moneySection {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
	margin-bottom: 2em;
	text-align: center;
}

#moneyExplainer {
	flex-direction: column;
}

#imageSection {
	display: flex;
	flex-direction: row;
	align-self: center;
	width: 80%;
}

.supportCard {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-between;
	margin: 1em;
	background-color: rgba(239, 239, 240, 0.9);
	padding: 1em;
	padding-bottom: 0em;
}

.supportCard > p {
	font-family: 'Nanum Pen Script';
	font-size: 1.5em;
}

.supportImage {
	z-index: 2;
	margin-bottom: -15em;
	margin-left: -3em;
	margin-top: 2em;
}

.colorChunk {
	background-color: rebeccapurple;
	width: 30vw;
	height: 40vh;
	z-index: 1;
	margin-right: 5em;
	margin-bottom: 2em;
}
.colorChunkLeft {
	background-color: rebeccapurple;
	width: 30vw;
	height: 40vh;
	z-index: 1;
	margin-right: -15em;
	margin-bottom: -2em;
}
.supportImageLeft {
	z-index: 2;
	margin-bottom: 5em;
	margin-left: -11em;
	margin-top: 3em;
}

.content {
	flex-grow: 1;
	padding: 2em;
}

.title {
	font-weight: bolder;
	font-size: 25pt;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.subtitle {
	font-size: x-large;
	z-index: 2;
	color: rebeccapurple;
	font-weight: bolder;
	text-decoration: underline;
	font-size: 22pt;
}

.explainer {
	margin-left: 4em;
	margin-right: 4em;
	font-size: 17pt;
}

.supportSection {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.height {
	height: 5em;
}

.width {
	width: 7em;
}
